@{
  Layout = "_Layout";
}
<div class="container">
  @await Html.PartialAsync("_Navbar")
  @await Html.PartialAsync("_AddLicense")
  @await Html.PartialAsync("_Footer")
</div> 
<script>
  $("#addLicense").addClass("show");
</script>