@model Factory.Models.EngineerMachine
@using System.Linq;
<div class="collapse" id="addLicense">
  <div class="card card-body">
    <h5 class="card-title">Add a new Machine repair license to an existing Engineer</h5>
    @if(ViewBag.Machines.Count == 0 && ViewBag.Engineers.Count == 0)
    {
      <p class="card-text">Woah, slow down! You'll need to add a Machine or an Engineer first.</p>
    }
    else if(ViewBag.Machines.Count == 0)
    {
    <p class="card-text"> There are no Machines to display. You must first add a Machine.</p>

    }
    else if(ViewBag.Engineers.Count == 0)
    {
    <p class="card-text"> There are no Engineers to display. You must first add an Engineer.</p>
    }
    else 
    {
      <form action="~/EngineerMachine/Edit" method="post">
        <div class="form-group">
          @Html.DropDownList("MachineId", (SelectList)ViewBag.MachineId, "Select Machine", new { @class = "form-control" })
        </div>
        <div class="form-group">
          @Html.DropDownList("EngineerId", (SelectList)ViewBag.EngineerId, "Select Engineer", new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-primary">Create license</button>
        <a>@Html.ActionLink("Cancel", "Index", "Home", null, new { @class="btn btn-danger"})</a>
      </form>
    }
  </div>
</div>