@{
  Layout = "_Layout";
}
<div class="container">
  @await Html.PartialAsync("_Navbar")
  @await Html.PartialAsync("_MachineOverview")
  @await Html.PartialAsync("_EngineerOverview")
  @await Html.PartialAsync("_Footer")
</div> 